
#menu_encrypt {
    font-weight: bold;
}

.field_wrapper {
    margin-bottom: 10px;
}

#payload_menu {
    margin-bottom: 10px;
}

#payload_text_label {
    font-weight: bold;
}

#payload_file_field {
    display: none;
    margin-bottom: 15px;
}
