
h2 {
    margin-top: 0;
    margin-bottom: 15px;
    /* font-size: em; */
}

#download-link {
    display: none;
}

#text-box {
    display: none;
    justify-content: center;
    align-items: center;
}

#text-wrap {
    position: relative;
    padding: 2em;
}

textarea {
    width: 80vw;
    height: 40vh;
    max-width: 80vw;
}

#copy-button {
    position: absolute;
    top: 0;
    right: 2em;
    padding: 2px 4px;
    border: solid 1px black;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    textarea {
        width: 24vw;
        max-width: 24vw;
    }
}
