
body {
    margin: 0;
    text-align: center;
    font-size: medium;
    font-family: 'Playfair Display', serif;
    color: black;
    background-color: #F1F3F5;
}

header {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    height: 70px;
    padding: 0;
    z-index: 1000;
    font-size: large;
    background-color: white;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 2px 1px 0 rgba(140,140,140,0.2);
}

main {
    position: relative;
    overflow: auto;
    margin: 0 auto;
}

#content {
    padding: 10px;
    background-color: #F1F3F5;
}

#menu {
    display: flex;
    margin: 0 auto 20px;
    width: 100%;
    height: 40px;
}

#menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
    /* background-color: ; */
}

h1 {
    margin: 10px 0;
}

input, textarea {
    padding: 2px 5px;
    border-radius: 10px;
    /* border-color: ; */
    background-color: #F1F3F5;
}

button, input[type=button], input[type=submit], input[type=reset] {
    /* padding: ; */
    border-radius: 5px;
    /* border-color: ; */
    cursor: pointer;
    /* color: ; */
    /* background-color: ; */
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1000px) {
    body {
        font-size: large;
    }
    main {
        margin: 0 28%;
        padding: 0 2px;
        background-image: linear-gradient(#F1F3F5, 10%, black, 90%, #F1F3F5);
    }
    #content {
        padding: 10px 80px;
    }
}
