{% extends 'base.html' %}
{% load static %}

{% block style %}
<!-- <link rel="stylesheet" href="{% static 'stego/css/decrypt.css' %}"> -->
{% endblock %}


{% block content %}

<form id="stego_form" enctype="multipart/form-data" method="post" action="{% url 'stego:decrypt' %}">
    {% csrf_token %}

    {{ form.as_div }}

    <br>
    <input id="submit_button" type="submit" value="Decrypt">
</form>

{% endblock %}


{% block javascript %}
<script src="{% static 'stego/js/display-uploading.js' %}"></script>
{% endblock %}
