{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'stego/css/encrypt.css' %}">
<link rel="stylesheet" href="{% static 'stego/css/password_field.css' %}">
<link rel="stylesheet" href="{% static 'stego/css/tooltip.css' %}">
{% endblock %}


{% block content %}

<form id="stego_form" enctype="multipart/form-data" method="post" action="{% url 'stego:encrypt' %}">
    {% csrf_token %}

    <div class="field_wrapper" id="carrier_file_field">
        {{ form.carrier_file.errors }}
        <div class="field_title">
            <label for="id_carrier_file">{{ form.carrier_file.label }}</label>
            {% if form.carrier_file.help_text %}
            <div class="info_icon">i
                <div id="{{ form.carrier_file.auto_id }}_helptext" class="helptext">{{ form.carrier_file.help_text|safe }}</div>
            </div>
            {% endif %}
        </div>
        {{ form.carrier_file }}
    </div>


    <div class="field_title">
        <label id="payload_label" for="id_payload_text">Data</label>
        <div class="info_icon">i
            <div id="payload_helptext" class="helptext">The data you want to hide.</div>
        </div>
    </div>
    <div id="payload_menu" class="menu">
        <div id="payload_text_label" class="menu_item" >Text</div>
        <div id="payload_file_label" class="menu_item" >File</div>
    </div>

    <div class="field_wrapper" id="payload_text_field">
        {{ form.payload_text.errors }}
        <textarea id="id_payload_text" name="payload_text" aria-describedby="payload_helptext" required></textarea>
    </div>

    <div class="field_wrapper" id="payload_file_field">
        {{ form.payload_file.errors }}
        <input type="file" id="id_payload_file" name="payload_file" aria-describedby="payload_helptext">
    </div>


    {% include 'stego/password_field.html' %}

    <br>
    <input id="submit_button" type="submit" value="Encrypt">
</form>

{% endblock %}


{% block javascript %}
<script src="{% static 'stego/js/payload-menu.js' %}"></script>
<script src="{% static 'stego/js/display-uploading.js' %}"></script>
<script src="{% static 'stego/js/password-field.js' %}"></script>
{% endblock %}
