<div id="cipher_option">
    <p>Encipher?</p>
    <div><i id="arrow_icon" class="arrow arrow_up"></i></div>
</div>

<div class="field_wrapper" id="password_field">
    {{ form.password.errors }}
    <div class="field_title">
        <label for="id_password">{{ form.password.label }}</label>
        {% if form.password.help_text %}
        <div class="info_icon">i
            <div id="{{ form.password.auto_id }}_helptext" class="helptext">{{ form.password.help_text|safe }}</div>
        </div>
        {% endif %}
    </div>
    {{ form.password }}
</div>
