<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block scripts %}
    {% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_form.css' %}">
    {% block style %}
    {% endblock %}
    <title>{% block title %}Stego Tool{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <header>
        <h1>Stego Tool</h1>
    </header>
    <main>
        <div id="content">
            <div id="menu">
                <a href="{% url 'stego:encrypt' %}">Encrypt</a>
                <a href="{% url 'stego:decrypt' %}">Decrypt</a>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% block javascript %}
    {% endblock %}
</body>
</html>
